<!DOCTYPE html>
<html>
<head>
  <!--Angular Library-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/fromExternalSources/ColorThief.js"></script>
<script src="js/myApp.js"> </script>
<script src="js/controllers/MainController.js"> </script>
<script src="js/controllers/UploadController.js">
</script>
<script src="js/directives/NgFileSelectDirective.js">
</script>

<script src="js/controllers/BorderController.js"> </script>
    <script src="node_modules/material-components-web/dist/material-components-web.js"></script>
    <script>mdc.autoInit()</script>

<!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

     <!--google font api-->
     <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
          <style>
          body{
            font-family: 'Tangerine', serif;
        font-size: 26px;
          }
          </style>


     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet"
          href="node_modules/material-components-web/dist/material-components-web.css">


</head>
<body ng-app="myApp" ng-controller="MainController" id = "myBody" style="background:#92e7f4">
  <p id='para'> </p>
  <!-- <script> document.getElementById('para').innerHTML='hey';</script> -->
  <h1> My Responsive Images </h1>
  <div id = "myDiv" ng-controller="UploadController">
    <form>
      <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc" id="uploadFile">
    </form>
      <button id= "myZoomInButton" class="mdc-button" ng-click="zoomIn()">Zoom in </button>
    <!-- <script src="js/fromExternalSources/ColorThief.js"> </script> -->
      <center>
    <img id="myImage" ng-src="{{imageSrc}}" class="image" >
      </center>

    <script>
    console.log("hey");
    document.getElementById('uploadFile').onclick = function(){
      document.getElementById("loading").style.display = "block";
      document.getElementById("myDiv").style.opacity=0.02;
      setTimeout(function(){
        document.getElementById("loading").style.display = "none"
        document.getElementById("myDiv").style.opacity=1;
      },6000);
    };
    document.getElementById('uploadFile').onchange=getDominantColor;

    </script>


    <!-- <script>
      var colorThief = new ColorThief();
      var loc = "{{imageSrc}}";
      colorThief.getColor(document.getElementById('myImage'));
      console.log("color thief");
      document.getElementById('para').innerHTML="color Thief";
    </script> -->
      <!--<div>
          <center>
          <br>
          <button id= "myZoomInButton" class="mdc-button">Zoom in </button>
          </center>
      </div>-->
  </div>
  <div id="loading" class="loader">

  </div>

  <!-- <script src="js/fromExternalSources/ColorThief.js">
  </script> -->
</body>
</html>
